@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: 'DM Sans', sans-serif;
   scroll-behavior: smooth;
}
::-webkit-scrollbar {
   width: 20px;
}

::-webkit-scrollbar-track {
   background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(to bottom, rgb(0, 62, 196), rgb(184, 0, 153));
}
